<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alinasoft.startuser">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:exported="false"
        android:name="com.alinasoft.startuser.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:vmSafeMode="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.alinasoft.startuser.Views.SplashActivity" android:theme="@style/SplashTheme" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alinasoft.startuser.Views.DashboardActivity" android:theme="@style/HomeTheme" android:exported="true">
        </activity>
        <activity
            android:name="com.alinasoft.startuser.Views.ScientistsActivity"
            android:exported="true"
            android:label="Angajații BNS "
            android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity" />
        <activity
            android:name="com.alinasoft.startuser.Views.CRUDActivity"
            android:exported="true"
            android:theme="@style/CRUDTheme"
            android:label="Adauga"
            android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity" />
        <activity
            android:name="com.alinasoft.startuser.Views.DetailActivity"
            android:exported="true"
            android:label="Despre angajat "
            android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity" />



        <activity
        android:name="com.alinasoft.startuser.Views.AboutUsActivity"
            android:exported="true"
        android:label="About Us "
        android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity"
        android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="com.alinasoft.startuser.Views.help"
            android:exported="true"
            android:label="About Us "
            android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.alinasoft.startuser.Views.helpen"
            android:exported="true"
            android:label="About Us "
            android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.alinasoft.startuser.Views.helpru"
            android:exported="true"
            android:label="About Us "
            android:parentActivityName="com.alinasoft.startuser.Views.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>